<li><%= link_to "首页",home_url ,:class => active_top_menu("home")%></li>	
<li><a href="#">销售管理</a></li>
<li><%= link_to "库存信息", products_url  ,:class => active_top_menu("products") %></li>
<li><%= link_to "商品入库", storages_url  ,:class => active_top_menu("storages") %></li>
<li><%= link_to "供应商管理",suppliers_url ,:class => active_top_menu("suppliers") %></li>
<li><%= link_to "账户管理",users_url ,:class => active_top_menu("users") %></li>
<li><%= link_to "系统日志",logs_url , :class => active_top_menu("logs") %></li>
<li class="logout"><%= link_to "退出",logout_path %></li>