<% content_for :head do%>
<script type="text/javascript">
	$(document).ready(function(){
		$(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
	});
</script>
<style type="text/css">
	table em{color:red;}
	input.ui-button {margin-left:10px;padding:3.5px 18px;}
</style>
<% end %>
<% content_for :sub_menu do %>
	<li><%=link_to "日志信息",logs_url %></li>
<%end%>
<h2><a href="<%= logs_url %>">系统日志</a> &raquo; <a href="#" class="active">日志信息</a></h2>
<div id="main">
	<% form_for @search do |f|%>
		<h3>
			开始时间:<%= f.text_field :created_at_gte ,:class => "datepicker" ,:size => 8 %>
			结束时间:<%= f.text_field :created_at_lte ,:class => "datepicker" ,:size => 8 %>
			<%= f.submit "搜 索" ,:class => "ui-button ui-state-default ui-corner-all" %></h3>
	<% end %>
	<table>
		<tr>
			<td>操作人</td>
			<td>内容</td>
			<td>时间</td>
		</tr>
		<% @logs.each do |log| %>
			<tr>
				<td><%= log.user.name %></td>
				<td><%=raw log.content %></td>
				<td><%= log.created_at.to_s(:db) %></td>
			</tr>
		<% end %>
	</table>
	<%= will_paginate @logs %>
</div>
