<% content_for :head do %>
<%= stylesheet_link_tag "jquery.fancybox.css" %>
<%= javascript_include_tag "jquery.fancybox.js" %>
<script>
	$(document).ready(function(){
		$('.select_supplier').fancybox({
	      'autoDimensions' : false,
	      'width':740,
	      'height': 300,
	      "scrolling" : "no",
	      "titleShow": false,
	      onComplete	:	function() {
	        
	      }	
	  });
		$(".select_this").live("click", function(){
			$("#product_supplier_id").val($(this).attr("data-supplier-id"));
			$("#supplier_name").val($(this).attr("data-supplier-name"));
			$.fancybox.close();
		});
	});
</script>
<% end %>
<% form_for @product, :html => {:class => "product_form" ,:method => @product.new_record? ? :post : :put} do |f| %>
	<table>
		<tr><td>商品名称:</td><td><%= f.text_field :name %></td></tr>
		<tr>
			<td>供应商:</td>
			<td>
				<% if @supplier.nil? %>
					<%= f.hidden_field :supplier_id %>
					<%= text_field_tag :supplier_name ,(@product.supplier.firm_name unless @product.new_record?) %>
					<%= link_to "选择供应商" ,select_suppliers_products_path, :class => "select_supplier"%>
				<% else %>
					<%= @supplier.firm_name %><%= f.hidden_field :supplier_id ,:value => @supplier.id %>
				<% end %>
			</td>
		</tr>
		<tr><td>品牌:</td><td><%= f.text_field :brand %></td></tr>
		<tr><td>型号:</td><td><%= f.text_field :brand_type %></td></tr>
		<tr><td>价格:</td><td><%= f.text_field :price %></td></tr>
		<tr><td>备注:</td><td><%= f.text_area :remark ,:rows => 4%></td></tr>
		<tr><td colspan="2"><%= f.submit "submit" ,:value => "提交",:class => "search_button ui-button ui-state-default ui-corner-all", :style => "padding: 0.4em 3em;" %></td></tr>
	</table>
<% end %>
