<%= stylesheet_link_tag "http://js1.51hejia.net/js/jquery/plugins/fancybox/1.3.1/jquery.fancybox.css" %>
<%= javascript_include_tag "http://js2.51hejia.net/js/jquery/plugins/fancybox/1.3.1/jquery.fancybox.js" %>
<script>
	$(document).ready(function(){
		$('.select_supplier').fancybox({
	      'autoDimensions' : false,
	      'width':740,
	      'height': 300,
	      "scrolling" : "no",
	      "titleShow": false,
	      onComplete	:	function() {
	        
	      }	
	  });
	});
</script>
<% form_for @product, :html => {:class => "product_form" ,:method => @product.new_record? ? :post : :put} do |f| %>
	<table>
		<tr><td>商品名称:</td><td><%= f.text_field :name , :value => ""%></td></tr>
		<tr><td>供应商:</td><td><%= f.hidden_field :supplier_id %><input type="text" id="supplier_name"><%= link_to "选择供应商" ,select_suppliers_products_path, :class => "select_supplier"%></td></tr>
		<tr><td>商品名称:</td><td><%= f.text_field :brand , :value => ""%></td></tr>
		<tr><td>商品名称:</td><td><%= f.text_field :brand_type , :value => ""%></td></tr>
		<tr><td>商品名称:</td><td><%= f.text_field :price , :value => ""%></td></tr>
		<tr><td>备注:</td><td><%= f.text_area :remark ,:rows => 4%></td></tr>
		<tr><td colspan="2"><%= f.submit "submit" ,:value => "提交" %></td></tr>
	</table>
<% end %>
