<%= render :partial => "sub_menu"%>
<h2><a href="#">库存信息</a> &raquo; <a href="#" class="active">库存信息查看</a></h2>
<div id="main">
	<% if flash[:notice] %><div class="ui-state-highlight ui-corner-all" style="margin-top: 10px; padding: 5pt 3em;"><%= flash[:notice] %></div><% end %>
	<h3>
		<% form_for @search do |f| %>
			名称:<%= f.text_field :name_contains %>
			品牌:<%= f.text_field :brand_contains %>
			型号:<%= f.text_field :brand_type_contains %>
			供应商:<%= f.text_field :supplier_firm_name_contains %>
			<%= f.submit "搜 索" ,:class => "search_button ui-button ui-state-default ui-corner-all"%>
		<% end %>
	</h3>
	<table>
		<tr>
			<td>商品名称</td>
			<td>品牌</td>
			<td>型号</td>
			<td>供应商</td>
			<td><%= sort_link @search, :price ,"单价" %></td>
			<td><%= sort_link @search, :number ,"数量" %></td>
			<td>备注</td>
			<td class="action" style="text-align:center;">
				<a href="#" class="edit">操作</a>
			</td>
		</tr>
		<% @products.each do |product| %>
			<tr>
				<td><%= product.name %></td>
				<td><%= product.brand %></td>
				<td><%= product.brand_type %></td>
				<td><%= product.supplier.firm_name %></td>
				<td><%= product.price %></td>
				<td><%= product.number %></td>
				<td><%= product.remark %></td>
				<td class="action">
					<%= link_to "修改",edit_product_path(product),:class => "edit" %>
					<%= link_to "下架",product,:method => "delete",:confirm => "确定商品下架?",:class => "edit"%>
				</td>
			</tr>			
		<% end %>
	</table>
	<%= will_paginate @products%>
</div>