<% content_for :head do%>
<style>
	input.ui-button {margin-left:10px;padding:3.5px 18px;}
</style>
<% end %>
<%= render :partial => "sub_menu"%>
<h2><a href="#">供应商管理</a> &raquo; <a href="#" class="active">供应商列表</a></h2>
<div id="main">
	<% if flash[:notice] %><div class="ui-state-highlight ui-corner-all" style="margin-top: 10px; padding: 5pt 3em;"><%= flash[:notice] %></div><% end %>
	<%= form_for @search do |f|%>
		<h3>
			供应商名称:<%= f.text_field :firm_name_contains , :size => 10 %>
			联系人:<%= f.text_field :name_contains , :size => 10 %>
			<%= f.submit "搜 索" ,:class => "ui-button ui-state-default ui-corner-all"%>
		</h3>
	<% end %>
	<table>
		<tr>
			<td>供应商名称</td>
			<td>联系人</td>
			<td>电话</td>
			<td>地址</td>
			<td>邮箱</td>
			<td>备注</td>
			<td class="action" style="text-align:center;">
				<a href="#" class="view">操作</a>
			</td>
		</tr>
		<% @suppliers.each do |supplier| %>
			<tr>
				<td><%= supplier.firm_name %></td>
				<td><%= supplier.name %></td>
				<td><%= supplier.phone %></td>
				<td><%= supplier.address %></td>
				<td><%= supplier.email %></td>
				<td><%= supplier.remark %></td>
				<td class="action">
					<%= link_to "商品信息","#{products_path}?search[supplier_firm_name_contains]=#{supplier.firm_name}",:class => "view"%>
					<%= link_to "添加商品",new_product_path(:supplier_id => supplier.id),:class => "view"%>
					<%= link_to "修改",edit_supplier_path(supplier) ,:class => "edit" %>
					<%= link_to "删除",supplier,:method => "delete" ,:confirm => '确定撤销' ,:class => "delete"%>
				</td>
		</tr>			
		<% end %>
	</table>
	 <%= will_paginate @suppliers %>
</div>
