<% content_for :head do %>
	<%= stylesheet_link_tag "jquery.fancybox.css" %>
	<%= javascript_include_tag "jquery.fancybox.js" ,"select_products.js" %>
	<script>
		$(document).ready(function(){
			$('.select_products').fancybox({
		      'autoDimensions' : false,
		      'width':740,
		      'height': 300,
		      "scrolling" : "no",
		      "titleShow": false,
		      onComplete	:	function() {

		      }	
		  });
			$.validator.setDefaults({ 
				onkeyup: false
			});
			$(".sale_form").validate();
		});		
	</script>
	<style>
		.form_ul li {line-height:29px}
		.li_font {font-size: 14px;}
		.li_bottom {border-bottom: 1px solid #DDDDDD;}
		.form_ul li span{padding: 0px 20px 0 0px;}
		.select_products {text-decoration: none;}
	</style>
<% end %>
<% form_for @sale ,:html => {:class => "sale_form"} do |f| %>
	<div>
		<ul class="form_ul">
			<li class="li_font li_bottom"><span>销售人:</span><%= @current_user.name %><%=f.hidden_field :user_id, :value => @current_user.id %></li>
			<li>
				<div id="save_products">
					<table id="products_talbe" data-this-type='sale' >
						<tr>
							<td colspan="6" align="center"><span style="text-align:center;">商品信息</span><span style="float:right;"><%= link_to "点击此处添加商品",select_products_products_path,:class => "select_products"  %><span></td>
						</tr>
						<tr>
							<td>名称</td>
							<td>品牌</td>
							<td>型号</td>
							<td>供应商</td>
							<td>单价</td>
							<td>数量</td>
						</tr>
					</table>
				</div>
			</li>
			<li class="li_font li_bottom"><span>总金额:</span><span id='count_price_p'>0.0</span><%= f.hidden_field :price ,:id => 'count_price'%></li>
			<li class="li_font li_bottom"><span>备注:</span><%= f.text_area :remark ,:rows => 4 %></li>
			<li><%= f.submit "提交",:class => "search_button ui-button ui-state-default ui-corner-all", :style => "padding: 0.4em 3em;"%></li>
		</ul>
  </div>
<% end %>