<% content_for :head do%>
<script type="text/javascript">
	$(document).ready(function(){
		$(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
	});
</script>
<style>
	input.ui-button {margin-left:10px;padding:3.5px 18px;}
</style>
<% end %>
<%= render :partial => "sub_menu"%>
<h2><a href="#">销售管理</a> &raquo; <a href="#" class="active">销售单列表</a></h2>
<div id="main">
	<% if flash[:notice] %><div class="ui-state-highlight ui-corner-all" style="margin-top: 10px; padding: 5pt 3em;"><%= flash[:notice] %></div><% end %>
	<%= form_for @search do |f|%>
		<h3>
			开始时间:<%= f.text_field :created_at_gte, :class => "datepicker" %>
			结束时间:<%= f.text_field :created_at_lte, :class => "datepicker"%>
			<%= f.submit "搜 索" ,:class => "ui-button ui-state-default ui-corner-all"%>
		</h3>
	<% end %>
	<table>
		<tr>
			<td>开单人</td>
			<td><%= sort_link @search, :price ,"金额"%></td>
			<td><%= sort_link @search, :created_at ,"时间"%></td>
			<td>备注</td>
			<td class="action" style="text-align:center;">
				<a href="#" class="view">操作</a>
			</td>
		</tr>
		<% @sales.each do |sale| %>
			<tr>
				<td><%= sale.user.name %></td>
				<td><%= number_to_currency(sale.price, :unit=>"￥") %></td>
				<td><%= sale.created_at.strftime("%Y-%m-%d %H:%M") %></td>
				<td><%= sale.remark %></td>
				<td class="action">
					<%= link_to '查看', sale,:class => "view" %>
					<%= link_to '删除', sale, :confirm => '确定删除?', :method => :delete ,:class => "delete"%>
				</td>
		</tr>			
		<% end %>
	</table>
	 <%= will_paginate @sales %>
</div>
